/* @import "simpledotcss/simple.min.css"; */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 50%;
  margin: 0 auto;
}
.pomodoro-timer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.task-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-duration .work-duration__list {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

.work-duration__list-item > button {
  padding: 6px;
  cursor: pointer;
}
